In [1]:
import pandas as pd
import sqlite3

In [2]:
fichero_sql = 'Z:\OFICINA TECNICA\CE\SQLite\perfiles\EUROPA.db'

In [3]:
conn = sqlite3.connect(fichero_sql)
cursor = conn.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tablas_fetch = cursor.fetchall()
tablas = [tabla[0] for tabla in tablas_fetch]
print(tablas)

['HEA', 'HEB', 'IPE', 'UPN', 'SHS', 'RHS']

In [4]:
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [5]:
conn = sqlite3.connect(fichero_sql)
for tabla in tablas:
    print(tabla)
    df_db = pd.read_sql('SELECT * FROM ' + tabla + ';', conn)
    if df.empty:
        df = df_db.copy()
    else:
        df = pd.concat([df, df_db])

HEA
HEB
IPE
UPN
SHS
RHS

In [6]:
df

,Perfil,nominal,G_kN/m,h_mm,b_mm,tw_mm,tf_mm,r_mm,A_cm2,hi_mm,...,Avz_cm2,Iz_cm4,Welz_cm3,Wplz_cm3,iz_cm,ss_mm,It_cm4,Iw_cm6,ys_cm,ym_cm
0,HEA,H 100,0.167,96.0,100.0,5.0,8.0,12.0,21.2,80.0,...,7.56,133.8,26.76,41.14,2.51,35.06,5.24,2580.0,0.0,0.0
1,HEA,H 120,0.199,114.0,120.0,5.0,8.0,12.0,25.3,98.0,...,8.46,230.9,38.48,58.85,3.02,35.06,5.99,6470.0,0.0,0.0
2,HEA,H 140,0.247,133.0,140.0,5.5,8.5,12.0,31.4,116.0,...,10.12,389.3,55.62,84.85,3.52,36.56,8.13,15060.0,0.0,0.0
3,HEA,H 160,0.304,152.0,160.0,6.0,9.0,15.0,38.8,134.0,...,13.21,615.6,76.95,117.60,3.98,41.57,12.19,31410.0,0.0,0.0
4,HEA,H 180,0.355,171.0,180.0,6.0,9.5,15.0,45.3,152.0,...,14.47,924.6,102.70,156.50,4.52,42.57,14.80,60210.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,HSRHS,500x300x10.0,122.000,500.0,300.0,10.0,10.0,0.0,155.0,0.0,...,0.00,24400.0,1630.00,2600.00,12.60,0.00,52500.00,2700.0,0.0,0.0
149,HSRHS,500x300x12.5,151.000,500.0,300.0,12.5,12.5,0.0,192.0,0.0,...,0.00,29800.0,1990.00,3200.00,12.50,0.00,64400.00,3280.0,0.0,0.0
150,HSRHS,500x300x14.2,170.000,500.0,300.0,14.2,14.2,0.0,217.0,0.0,...,0.00,33200.0,2220.00,3590.00,12.40,0.00,72200.00,3660.0,0.0,0.0
151,HSRHS,500x300x16.0,191.000,500.0,300.0,16.0,16.0,0.0,243.0,0.0,...,0.00,36800.0,2450.00,4010.00,12.30,0.00,80300.00,4040.0,0.0,0.0
152,HSRHS,500x300x20.0,235.000,500.0,300.0,20.0,20.0,0.0,300.0,0.0,...,0.00,44100.0,2940.00,4890.00,12.10,0.00,97400.00,4840.0,0.0,0.0

In [7]:
df.Perfil.unique()

array(['HEA', 'HEB', 'IPE', 'UPN', 'HSRHS'], dtype=object)